* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    width: 100%;
    background-color: #002a54;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
    padding-left: 20px;
}

.headerText {
    color: white;
    font-weight: bold;
    padding-right:20px;
}

content {
    padding: 30px;
}

.artistImageWrapper {
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

footer {
    height: 50px;
    width: 100%;
    display: block;
    background-color: #002a54;
    position: fixed;
    bottom: 0;
}